body {
	background-color: $colorBlack;
	color: $colorWhite;
	font-family: 'Raleway';
}

h1 {
	font-size: $h1h;
	font-weight: $h1w;
}

h2 {
	font-size: $h2h;
	font-weight: $h2w;
}

h3 {
	font-size: $h3h;
	font-weight: $h3w;
}
