@import '../../../../assets/styles/vars.scss';

.body {
	display: flex;
	border-radius: 20px;
	min-height: 100px;
	border: 2px dashed $colorGold;
	margin-bottom: 25px;
	margin: 25px 150px;

	p {
		font-size: $h3h;
		font-weight: $h3w;
		margin: auto 0 auto 90px;
	}
}
